body{
    font-family:'Mulish';
    letter-spacing: 3px;
    word-spacing:1.2px;
    background-image: linear-gradient(90deg,#37384A,#36303D);
    overflow-x:hidden;  
}
header{
    
    border-collapse:collapse;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    text-align:center;
}

#logo{
    height:90px;
    display:flex;
    display: inline-block;
    margin:5px 25px 5px 30px;
    
}
header h1{
    color:rgb(3, 3, 3);
    font-size:38px;
    font-weight:bolder;
    text-shadow:-2px 2px 4px white
}
.menu-principal{
    background-color: rgb(46, 21, 44);
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 5px;
    padding: 15px 40px;
    margin-top: 10px;
    margin-left: 30%;
    text-align: center;
    height:60px;
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
}
.menu-principal li{
    display: flex;
    display:block;
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}
.menu-princial a{
    color:white;
}
.menu-principal a:hover{
    color:lightgray;
    font-size:28px;
    text-decoration:underline;
}
.menu-principal  li a{
    text-decoration:none;
    padding:5px 10px;
    display:block;
}
.menu li a:hover{
    background:#333;
    color:#fff;
    box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
    }
#missil{
    text-align: center;
    color:rgb(18,50,18);
    display :inline-block;
    width:75%;
    box-sizing: border-box;
    height:100%;
}
#missil img{
    max-width:700px;
    margin:50px 80px -60px 0px;
}
#missil p{
    box-shadow: -3px 2px 15px pink;
    font-size: 18px;
    margin: 15px 10px;
    text-indent:4em;
    text-align:justify;
    line-height:1.8em;
    padding: 2px 80px;
    display:inline-block;
    width:90%;
    font-weight:bold;
}
.img-fitness{
    float:right;
    width:20%;
}
.img-fitness img{
    max-width:650px;
    margin-left:-150px;
    padding-top:20px;
}
.footer-content{
    font-size: 18px;
    color:rgb(61, 77, 61);
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin:50px 0px 20px;
    width:100%;
}
.footer-content img{
    width:40px;
    margin-right:20px;
}

.sobre{
    background-image: url('../imagens/bg.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding:80px 0px;
    width:100%;
}
#content-sobre{
    text-align: center;
    color:rgb(28, 37, 37);
    display:inline-block;
    width:60%;
    box-sizing: border-box;
    height:100%;
}
#content-sobre p{
    background-color: rgba(59, 63, 59, 0.8);
    box-shadow:-3px 2px 15px rgb(9, 10, 9);
    font-size:22px;
    margin:45px 30px;
    text-indent:4em;
    text-align: justify;
    line-height: 2.5em;
    padding:2px 80px;
    display:inline-block;
    width:100%;
    font-weight:bold;
}
#content-sobre h3{
    font-size:40px;
    font-weight:bold;
    text-decoration:underline;
    margin-bottom:50px;
}
.novidades{
    background-image: linear-gradient(90deg,#37384A,#36303D);
    padding:50px;
    text-align: center;
}
.novidades hr{
    box-shadow:-8px 5px 10px gray;
    width:70%;
    height:5px;
    margin: 0px 15% 40px;
}
#content-novidades{
    text-align: center;
    align-content:center;
    align-self:center;
}
#content-novidades article{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
    align-items:center;
}
#content-novidades h3{
    color:rgb(28, 37, 37);
    font-size:30px;
    font-weight:bold;
    text-decoration:underline;
    margin:40px 20px 50px;
}
#content-novidades p{
    background-color: rgba(59, 63, 59, 0.8);
    box-shadow:-3px 2px 15px rgb(9, 10, 9);
    font-size:17px;
    margin:45px 30px;
    text-indent: 4em;
    text-align:justify;
    line-height:2.5em;
    padding:22px 80px;
    display:inline-block;
    width:45%;
    font-weight:bold;
}
#content-novidades img{
    max-width:300px;
    height:200px;
    margin:20px;
}
#calc-imc{
    border:2px solid gray;
    background-color: rgb(51, 38, 47);
    display:flex;
    flex-wrap: wrap;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    padding:80px;
    width:60%;
    height:600px;
    margin:60px -900px 30px 50px;
    box-sizing: border-box;
    margin-bottom:900px;
    

}
#calc-imc input{
    width:120%;
    height:80px;
    margin: 10px 5px 5px;
    padding:6px 20px;
    text-align:center;
    
}
#calc-imc label{
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
    
    
}
#calc-imc button{
    width:60%;
    font-size:17px;
    text-align:center;
    font-weight:bold;
    padding:7px 0px 5px;
    color:rgb(53,113,53);
    margin-top:auto;
    box-shadow:-4px 4px 5px gray;
    border-radius:14px;
    border:none;
    position:relative;
}
#calc-imc button:hover{
    color:rgb(50,184,50);
    background-color: rgb(216,241,216);
    box-shadow:-8px 8px 5px lightgray;
    border:2px solid rgb(244,244,133);
}
.result{
    border:3px solid black;

    width:80%;
    height:600px;
    display:flex;
    flex-flow:column;
    align-items:center;
    text-align:center;
    margin:122px;
    box-sizing:border-box;
    overflow:auto;

}
.result h2{
    font-size:22px;
    font-weight:bold;
    margin-bottom:30px;
}
.result div{
    background-color: rgb(241,227,227);
    box-shadow:-3px 5px 18px white;
    max-width:650px;
    padding:10px 15px;
    height:400px;
    display:inline-block;
}
.page-result{
    display:flex;
}
.result img{
    width:180px;
    margin:10px;
    display:inline-block;
}
hr{
    opacity: 0.7;
}
